{% extends "pizzas/base.html" %}

{% block content %}

<h2>
    <p>Home of the World's Best Pizzas</p>
</h2>
<h4>
    <p>Check out our menu to see what pizzas and toppings we offer!</p>
</h4>

<img src="https://images.squarespace-cdn.com/content/v1/556672f9e4b07ef3724287b2/1444078503732-0KJO234RFMFLICOG7VTL/ke17ZwdGBToddI8pDm48kAQ9kcyr0oplaUf8q7gOojl7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z4YTzHvnKhyp6Da-NYroOW3ZGjoBKy3azqku80C789l0ktJPZ5nzlpAQ9l-HYKRq6WWIRHAgUWj6EOXjik79Bv0mRO9ZkMm6-f9cB9r1TE2NA/INFERNO_061.jpg?format=2500w" width=700px
    height=500>

{% endblock content %}